body {
background-color:#999;
color:#900;
margin:0px;
padding:0px;
border:0px;
}

.signup {
border: 0px;
text-align:right;
left:0px;
}

a
{
font: bold .75em sans-serif;
text-decoration:none;
color:white;
background-color:#551111;
/*border:.01em solid grey;*/
cursor:url(game/images/dalarothCur.ico),crosshair;
padding: 0em .1em 0em .1em;
}

a:hover {
font: bold .75em sans-serif;
color:gray;
background-color:#443333;
/*border:.01em solid #030;*/
padding: 0 .1em .1em .1em;
}

h2 {
color:#F00;
background-color:inherit;
}
.warning {
color:#FF0;
font-size:25px;
background-color:#00F;
}